workflows/job-search-nice-1.json
[   {     "updatedAt": "2026-03-22T16:07:57.804Z",     "createdAt": "2026-03-22T16:07:57.804Z",     "id": "ACSMOHU7EEJQGsdk",     "name": "job-search-nice-1",     "description": null,     "active": false,     "isArchived": false,     "nodes": [       {         "parameters": {           "schema": {             "__rl": true,             "mode": "list",             "value": "public"           },           "table": {             "__rl": true,             "value": "job_search",             "mode": "list",             "cachedResultName": "job_search"           },           "columns": {             "mappingMode": "autoMapInputData",             "value": {               "ID": 0             },             "matchingColumns": [],             "schema": [               {                 "id": "ID",                 "displayName": "ID",                 "required": true,                 "defaultMatch": false,                 "display": true,                 "type": "number",                 "canBeUsedToMatch": true               },               {                 "id": "company",                 "displayName": "company",                 "required": false,                 "defaultMatch": false,                 "display": true,                 "type": "string",                 "canBeUsedToMatch": true               },               {                 "id": "role",                 "displayName": "role",                 "required": false,                 "defaultMatch": false,                 "display": true,                 "type": "string",                 "canBeUsedToMatch": true               },               {                 "id": "found_at",                 "displayName": "found_at",                 "required": false,                 "defaultMatch": false,                 "display": true,                 "type": "dateTime",                 "canBeUsedToMatch": true               },               {                 "id": "link",                 "displayName": "link",                 "required": false,                 "defaultMatch": false,                 "display": true,                 "type": "string",                 "canBeUsedToMatch": true               },               {                 "id": "full_description",                 "displayName": "full_description",                 "required": false,                 "defaultMatch": false,                 "display": true,                 "type": "string",                 "canBeUsedToMatch": true               }             ],             "attemptToConvertTypes": false,             "convertFieldsToString": false           },           "options": {}         },         "type": "n8n-nodes-base.postgres",         "typeVersion": 2.6,         "position": [           960,           -16         ],         "id": "e36ae0c9-64e9-4ebc-b6f8-2f16f825155f",         "name": "Insert rows in a table",         "credentials": {           "postgres": {             "id": "jSRjhjacVTQ7yijy",             "name": "Postgres account"           }         }       },       {         "parameters": {           "mode": "raw",           "jsonOutput": "={{ $json.output }}",           "options": {}         },         "type": "n8n-nodes-base.set",         "typeVersion": 3.4,         "position": [           800,           -16         ],         "id": "11383574-8d11-4da6-b872-843f10bd2357",         "name": "Edit Fields"       },       {         "parameters": {           "operation": "select",           "schema": {             "__rl": true,             "mode": "list",             "value": "public"           },           "table": {             "__rl": true,             "value": "job_search",             "mode": "list",             "cachedResultName": "job_search"           },           "returnAll": true,           "options": {}         },         "type": "n8n-nodes-base.postgres",         "typeVersion": 2.6,         "position": [           -336,           -16         ],         "id": "0f99bb81-7b6e-4bfe-90eb-9d88b35dc534",         "name": "Select rows from a table",         "credentials": {           "postgres": {             "id": "jSRjhjacVTQ7yijy",             "name": "Postgres account"           }         }       },       {         "parameters": {           "assignments": {             "assignments": [               {                 "id": "9df1e92e-166b-4ff1-b5c7-46e5a0288776",                 "name": "company",                 "value": "={{ $json.company }}",                 "type": "string"               }             ]           },           "options": {}         },         "type": "n8n-nodes-base.set",         "typeVersion": 3.4,         "position": [           -144,           -16         ],         "id": "5b73a9e1-b193-4ccb-93e3-54a313471d83",         "name": "Edit Fields1"       },       {         "parameters": {           "fieldsToAggregate": {             "fieldToAggregate": [               {                 "fieldToAggregate": "company",                 "renameField": true,                 "outputFieldName": "companies"               }             ]           },           "options": {}         },         "type": "n8n-nodes-base.aggregate",         "typeVersion": 1,         "position": [           64,           -16         ],         "id": "64214bac-91ad-40dd-94e9-ce5d9620189e",         "name": "Aggregate"       },       {         "parameters": {           "modelId": {             "__rl": true,             "value": "gpt-5.4",             "mode": "list",             "cachedResultName": "GPT-5.4"           },           "responses": {             "values": [               {                 "content": "=Please search a job in Amsterdam as Machine Learning Engineer, but exclude the following companies: {{ $json.companies }}.\n\nSet found_at to ISO 8601.\n"               }             ]           },           "builtInTools": {             "webSearch": {               "searchContextSize": "medium"             }           },           "options": {             "textFormat": {               "textOptions": {                 "type": "json_schema",                 "name": "job_search",                 "schema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"company\": { \"type\": \"string\" },\n    \"role\": { \"type\": \"string\" },\n    \"found_at\": { \"type\": \"string\" },\n    \"link\": { \"type\": \"string\" },\n    \"full_description\": { \"type\": \"string\" }\n  },\n  \"required\": [\n    \"company\",\n    \"role\",\n    \"found_at\",\n    \"link\",\n    \"full_description\"\n  ],\n  \"additionalProperties\": false\n}\n"               }             }           }         },         "type": "@n8n/n8n-nodes-langchain.openAi",         "typeVersion": 2.1,         "position": [           240,           -16         ],         "id": "738beca3-e5da-4416-99b8-8e87c9392440",         "name": "Message a model",         "credentials": {           "openAiApi": {             "id": "OhwN4UedbaUwzgSb",             "name": "OpenAi account"           }         }       },       {         "parameters": {           "assignments": {             "assignments": [               {                 "id": "5234c24a-7c0f-4192-a054-602dec558f16",                 "name": "output",                 "value": "={{ $json.output[0].content[0].text }}",                 "type": "object"               }             ]           },           "options": {}         },         "type": "n8n-nodes-base.set",         "typeVersion": 3.4,         "position": [           592,           -16         ],         "id": "ece07968-727b-476f-9a60-47f1e94b2486",         "name": "Edit Fields2"       },       {         "parameters": {           "rule": {             "interval": [               {                 "field": "hours"               }             ]           }         },         "type": "n8n-nodes-base.scheduleTrigger",         "typeVersion": 1.3,         "position": [           -544,           -16         ],         "id": "57a75339-c4ea-4cd8-a078-8b85d7d9a705",         "name": "Schedule Trigger"       }     ],     "connections": {       "Insert rows in a table": {         "main": [           []         ]       },       "Edit Fields": {         "main": [           [             {               "node": "Insert rows in a table",               "type": "main",               "index": 0             }           ]         ]       },       "Select rows from a table": {         "main": [           [             {               "node": "Edit Fields1",               "type": "main",               "index": 0             }           ]         ]       },       "Edit Fields1": {         "main": [           [             {               "node": "Aggregate",               "type": "main",               "index": 0             }           ]         ]       },       "Aggregate": {         "main": [           [             {               "node": "Message a model",               "type": "main",               "index": 0             }           ]         ]       },       "Message a model": {         "main": [           [             {               "node": "Edit Fields2",               "type": "main",               "index": 0             }           ]         ]       },       "Edit Fields2": {         "main": [           [             {               "node": "Edit Fields",               "type": "main",               "index": 0             }           ]         ]       },       "Schedule Trigger": {         "main": [           [             {               "node": "Select rows from a table",               "type": "main",               "index": 0             }           ]         ]       }     },     "settings": {       "executionOrder": "v1",       "binaryMode": "separate",       "availableInMCP": false     },     "staticData": null,     "meta": null,     "pinData": null,     "versionId": "7b54e08f-a42f-48c1-a4b9-df2d3db53bc0",     "activeVersionId": null,     "versionCounter": 1,     "triggerCount": 0,     "tags": [],     "shared": [       {         "updatedAt": "2026-03-22T16:07:57.808Z",         "createdAt": "2026-03-22T16:07:57.808Z",         "role": "workflow:owner",         "workflowId": "ACSMOHU7EEJQGsdk",         "projectId": "DgVdkDeDQhFhziM6",         "project": {           "updatedAt": "2026-03-20T05:01:50.640Z",           "createdAt": "2026-03-20T04:55:19.064Z",           "id": "DgVdkDeDQhFhziM6",           "name": "Foo Bar <foobar@example.org>",           "type": "personal",           "icon": null,           "description": null,           "creatorId": "13afb86f-a8fe-44b8-a7e4-7ce49e0c5357"         }       }     ],     "versionMetadata": {       "name": null,       "description": null     }   } ]